.player-hand {
  &__list {
    padding: 0;
    display: flex;
    margin: 10px auto;
    max-width: 500px;
  }

  &__card {
    list-style: none;
    border: 1px solid pink;
    padding: 10px;
    margin: 0 10px;
  }
}