.town {
  border: 1px solid aqua;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;


  &__list {
    padding: 0;
    display: flex;
    margin: 10px auto;
    max-width: 500px;
  }

  &__building {
    list-style: none;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 10px;
    min-width: 150px;
  }
}